<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0px","margin":{"top":"0px","bottom":"0px"},"padding":{"top":"0","bottom":"0","left":"0px","right":"0px"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-top:0;padding-right:0px;padding-bottom:0;padding-left:0px"><!-- wp:post-content {"style":{"spacing":{"blockGap":"0"},"dimensions":{"minHeight":"0px"},"layout":{"selfStretch":"fit","flexSize":null}},"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->